.hai{
    margin-top: 40px;
    margin-right: 100px;
    background-image: url(http://4.bp.blogspot.com/-CpExHC3bW2k/TpR-_XPgwxI/AAAAAAAAAOg/yLnqIJEd5dU/s0-d/90633621.jpg);
    margin-left: 100px;
    /* background-size: cover; */
    /* background-repeat: repeat; */
    width: 1313px;
    height: 600px;
}
.image{
    margin-top: 100px;
    width: 300px;
    height: 300px;
}
.last{
    margin-top: 97px;
    color: aliceblue;
    text-align: center;
    width: 1313px;
    background-color: black;
}
.hhh{
    height: 50px;
    width: 50px;
}
.abt{
    margin-top: 100px;
    background-color: aquamarine;
    height: 50px;
}
.thy{
    color: black;
    margin-left: 141px;
    margin-top: 59px;
}
.btnn{
    margin-top: 49px;
    margin-left: 161px;
}