.hai{
    margin-top: 70px;
    margin-right: 100px;
    background-image: url(http://4.bp.blogspot.com/-CpExHC3bW2k/TpR-_XPgwxI/AAAAAAAAAOg/yLnqIJEd5dU/s0-d/90633621.jpg);
    margin-left: 100px;
    /* background-size: cover; */
    /* background-repeat: repeat; */
    width: 1313px;
    /* height: 500px; */
}
.hii{
    margin-left: 309px;
    margin-top: 50px;
}
.log{
    width: 125px;
    margin-left: 510px;
    margin-top: 87px;
}